.form__btn-save_inactive {
  opacity: 0.2;
  cursor: auto;
  background-color: inherit;
  border: 1px solid #000000;
  color: #000000;
  transition: all 0.2s linear;
}

.form__btn-save_inactive:hover {
  opacity: 0.2;
}
