.profile__text-box {
  width: 100%;
  min-height: 54px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 918px) {
  .profile__text-box {
    margin: 0;
    width: auto;
    min-height: 73px;
    align-items: flex-start;
    flex-grow: 1;
  }
}
